[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
CN = 10.189.27.52

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.189.27.52
IP.2 = 192.168.153.1
DNS.1 = localhost